.button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #2E9CCA;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.gameHeader{
    position: absolute;
    top: 20px;
    right: 40px;
}

.trophyImage{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.winText{
    color:green;
    font-size: 16px;
}